{
  "kafka": {
    "bootstrap_server": "localhost:9092",
    "target_topic": "FOSS4gWorkshop2026",
    "waiting_time": 0.1
  },
  "data": {
    "folder_name": "res",
    "file_name": "taxi_realtime_interval_4.pkl"
  }
}